# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"

# MONGODB_URI: Connection string for MongoDB database (e.g. MongoDB Atlas)
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-name>.<cluster-id>.mongodb.net/<database-name>?retryWrites=true&w=majority&appName=<cluster-name>

# JWT_SECRET: Secret key for signing JWT tokens
JWT_SECRET=yoursupersecretjwtkey123
